.container {
    text-align: center;
    margin: 40px;
    background-image: url(./image/mountain.jpg);
    background-size: cover;
    height: 500px;
    padding: 80px;
    background-repeat: no-repeat;

}

li {
    display: inline-flex;
    border: 1px solid;
    text-decoration: none;
    padding: 5px;
}

.intro {
    background-color: lightslategrey;
    margin: 30px;
    padding: 20px;
}

.work {
    background-color: lightslategrey;
    margin: 30px;
    padding: 20px;
}

.about {
    background-color: lightslategrey;
    margin: 30px;
    padding: 20px;
}

.contact {
    background-color: lightslategrey;
    margin: 30px;
    padding: 40px;
}

#send {
    background-color: aliceblue;
    width: 150px;
    height: 30px;
    text-align: center;
}

.icons {
    margin-top: 20px;
    padding: 10px;
}

input {
    width: 300px;
    height: 20px;
    border-radius: 10px;
}